@import 'tailwindcss';

@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-mono: Cousine, ui-monospace, monospace;
    --font-serif: Aleo, ui-serif, serif;
    --radius: 0.625rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
  body {
    letter-spacing: var(--tracking-normal);
    }
}

@layer utilities {
    body,
    html {
        --font-sans:
            'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
            'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
    }
}

:root {
    --background: oklch(0.9840 0.0030 247.8580);
    --foreground: oklch(0.1290 0.0420 264.6950);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.1450 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.1450 0 0);
    --primary: oklch(0.7920 0.2090 151.7110);
    --primary-foreground: oklch(0.9840 0.0030 247.8580);
    --secondary: oklch(0.8690 0.0220 252.8940);
    --secondary-foreground: oklch(0.1290 0.0420 264.6950);
    --muted: oklch(0.9680 0.0070 247.8960);
    --muted-foreground: oklch(0.5540 0.0460 257.4170);
    --accent: oklch(0.9680 0.0070 247.8960);
    --accent-foreground: oklch(0.2050 0 0);
    --destructive: oklch(0.5770 0.2450 27.3250);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9290 0.0130 255.5080);
    --input: oklch(0.9290 0.0130 255.5080);
    --ring: oklch(0.7920 0.2090 151.7110);
    --chart-1: oklch(0.8100 0.1000 252);
    --chart-2: oklch(0.6200 0.1900 260);
    --chart-3: oklch(0.5500 0.2200 263);
    --chart-4: oklch(0.4900 0.2200 264);
    --chart-5: oklch(0.4200 0.1800 266);
    --radius: 0.625rem;
    --sidebar-background: hsl(0 0% 98%);
    --sidebar-foreground: oklch(0.1290 0.0420 264.6950);
    --sidebar-primary: oklch(0.2080 0.0420 265.7550);
    --sidebar-primary-foreground: oklch(0.9840 0.0030 247.8580);
    --sidebar-accent: oklch(0.8690 0.0220 252.8940);
    --sidebar-accent-foreground: oklch(0.2080 0.0420 265.7550);
    --sidebar-border: oklch(0.9290 0.0130 255.5080);
    --sidebar-ring: oklch(0.7920 0.2090 151.7110);
    --sidebar: oklch(0.9290 0.0130 255.5080);
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Aleo, ui-serif, serif;
    --font-mono: Cousine, ui-monospace, monospace;
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.1;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0.025em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0.025em;
}

.dark {
    --background: oklch(0.1450 0 0);
    --foreground: oklch(0.9850 0 0);
    --card: oklch(0.2050 0 0);
    --card-foreground: oklch(0.9850 0 0);
    --popover: oklch(0.2690 0 0);
    --popover-foreground: oklch(0.9850 0 0);
    --primary: oklch(0.7920 0.2090 151.7110);
    --primary-foreground: oklch(0.1410 0.0050 285.8230);
    --secondary: oklch(0.2740 0.0060 286.0330);
    --secondary-foreground: oklch(0.9850 0 0);
    --muted: oklch(0.2690 0 0);
    --muted-foreground: oklch(0.7080 0 0);
    --accent: oklch(0.3710 0 0);
    --accent-foreground: oklch(0.9850 0 0);
    --destructive: oklch(0.7040 0.1910 22.2160);
    --destructive-foreground: oklch(0.9850 0 0);
    --border: oklch(0.2750 0 0);
    --input: oklch(0.3250 0 0);
    --ring: oklch(0.5560 0 0);
    --chart-1: oklch(0.8100 0.1000 252);
    --chart-2: oklch(0.6200 0.1900 260);
    --chart-3: oklch(0.5500 0.2200 263);
    --chart-4: oklch(0.4900 0.2200 264);
    --chart-5: oklch(0.4200 0.1800 266);
    --sidebar-background: hsl(0 0% 7%);
    --sidebar-foreground: oklch(0.9850 0 0);
    --sidebar-primary: oklch(0.6270 0.1940 149.2140);
    --sidebar-primary-foreground: oklch(0.9850 0 0);
    --sidebar-accent: oklch(0.2690 0 0);
    --sidebar-accent-foreground: oklch(0.9850 0 0);
    --sidebar-border: oklch(0.2750 0 0);
    --sidebar-ring: oklch(0.4390 0 0);
    --sidebar: oklch(0.2050 0 0);
    --radius: 0.625rem;
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Aleo, ui-serif, serif;
    --font-mono: Cousine, ui-monospace, monospace;
    --shadow-color: oklch(0 0 0);
    --shadow-opacity: 0.1;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0.025em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}